#content_container {
    display: flex;
    justify-content: center;
    width: 50vw;
    overflow: clip;
}

.menu_container {
    display: flex;
    flex-direction: column;
    width: 500px;
    cursor: pointer;
}

.gif_container {
    margin-bottom: 2vh;
}

.row {
    display: flex;
}

.letter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: rgb(250, 250, 250);
}

.gallery_cover {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
}

.gallery_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    width: clamp(220px, 80%, 650px);    
    height: 100px;
}

.close_button {
    min-width: 60px;
    min-height: 60px;
    border-radius: 60px;
    background-color: var(--black);
    cursor: pointer;
}

.close_button:active {
    opacity: 0.5;
}

.gallery_title {
    font-size: calc(var(--txt_size) * 1.9);
    font-weight: bolder;
    align-self: center;
    border-top: 1vh solid var(--black);
    margin: calc(var(--txt_margin) * 3) 0 calc(var(--txt_margin) * 2) 0;
}

.gallery_subtitle {
    font-size: calc(var(--txt_size) * 1.6);
    font-weight: bolder;
    align-self: flex-start;
    border-top: 1vh solid var(--black);
    margin: calc(var(--txt_margin) * 3) 0 calc(var(--txt_margin) * 2) 0;
}

.gallery_text {
    font-size: calc(var(--txt_size) * 1.2);
    align-self: flex-start;
    width: 100%;
    padding: 8%;
}

.a_text {
    color: var(--black);
}

video {
    width: 100%;
    padding: 8%;
}

.gallery_audio {
    width: 100%;
    padding: 8%;
}

audio {
    width: 100%;
}
