.item_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.canvas_container {
    display: grid;
    grid-template-columns: auto;
    max-width: max-content;
    height: auto;
}

.canvas_container * {
    grid-area: 1 / 1;
}

.canvas_background {
    font-size: calc(var(--font_size) * 1.3);
    word-break: break-all;
    overflow-y: clip;
}

canvas {
    cursor: pointer;
}

.text_title {
    font-size: calc(var(--font_size) * 1.5);
    font-weight: bolder;
    margin: calc(var(--txt_margin) * 3) 0 0 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-width: 660px;
    margin: 0 0 calc(var(--txt_margin) * 3) 0;
    font-size: calc(var(--font_size) * 0.9);
}

.fullscreen {
    display: inline-block;
    width: calc(var(--font_size) * 1.5 / 2);
    height: calc(var(--font_size) * 1.5 / 2);
    margin: calc(var(--font_size) * 1.5 / 8);
    outline: 3px solid black;
    cursor: default;
}